$layout-navbar-link-primary-color: rgba(0, 0, 0, 0.8);
$layout-navbar-link-primary-color-hover: rgba(119, 119, 119, 0.8);

$color-green1: #219653;
$color-white: #fff;
$color-black: #000;
$color-red: #eb5757;
$color-yellow: #f2c94c;
$color-blue1: #2f80ed;
$color-purple1: #9b51e0;
$color-orange: #f2994a;
